<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1408986890-1khi9lr61vav8pjoag73r5hhh1bqkvbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1408986890-1khi9lr61vav8pjoag73r5hhh1bqkvbc</string>
	<key>API_KEY</key>
	<string>AIzaSyBmt_YDx5roOG4v08knHySyDVGjzme3brs</string>
	<key>GCM_SENDER_ID</key>
	<string>1408986890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squipProject</string>
	<key>PROJECT_ID</key>
	<string>squip-app</string>
	<key>STORAGE_BUCKET</key>
	<string>squip-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1408986890:ios:cc52d736b78aa27faf94f3</string>
</dict>
</plist>